.standard_styled {
  width: 100%;
  padding: 6% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.standard_styled{
  width: 100%;
  background-color: #f4f4f4;
  display: grid;
  padding: 3.5% 10%;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 30px;
  align-items: flex-start;

  .big_side_left {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    .saty_image_and_info{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      .header_options {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;

        a{
          margin-right: 20px;
          color: #666;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          > svg {
            color: #3FA5D1;
            font-size: 18px;
            margin-right: 10px;
          }

          &:hover{
            text-decoration: underline;
          }
        }
      }

      .productPathFile {
        width: 100%;
        height: 48vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .location_info_product{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      
      .header_info_product {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-bottom: 25px;

        .globalAvaliation{
          width: 100%;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          small{
            width: 10%;
            padding: 0px;
            color: #555;
            margin-left: 5px;
          }
        }

        .brand{
          width: 100%;
          color: #3FA5D1;
        }

        h1{
          font-weight: bold;
          color: #666;
          margin-top: 5px;
          line-height: 22px;
          font-size: 1.2em;
        }

        .row_line{
          margin-top: 15px;
          width: 100%;
        }
      }

      p{
        color: #666;
        font-weight: 300;
        line-height: 25px;
        margin-bottom: 40px;
      }

      a{
        width: 100%;
        margin-bottom: 10px;
        color: #444;
        padding-bottom: 10px;
        text-align: left;
        border-bottom: solid 1px #ccc;
      }

      a:last-child{
        border-bottom: none;
      }
    }
  }

  .small_side_right{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;

    .price_information{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: solid 1px #ccc;

      h1{
        font-weight: bold;
        color: #1a6e92;
        font-size: 2.5em;
      }

      p{
        font-weight: 300;
        margin-top: 5px;

        strong{
          font-weight: 600;
          color: #1a6e92;
        }
      }

      a{
        color: #333;
        font-size: 12px;
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        > svg {
          margin-right: 5px;
          margin-bottom: -1px;
        }

        &:hover{
          text-decoration: underline;
        }
      }
    }

    form{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-top: 15px;

      label{
        width: 100%;
        color: #555;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .box_ex{
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        border: solid 1px #ccc;
        border-radius: 5px;

        svg {
          color: #1a6e92;
          margin-right: 15px;
        }

        button {
          color: #fff;
          font-weight: 700;
          background-color: #3FA5D1;
          border-radius: 3px;
          padding: 3px 12px;
          cursor: pointer;
        }
      }

      .qtd{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        button{
          background-color: #ccc;
          color: #333;
          cursor: pointer;
          font-size: 19px;
          padding: 6px;
          border-radius: 3px;
          width: 40px;
          height: 40px;
          text-align: center;
        }

        input {
          padding: 6px;
          border-radius: 3px;
          width: 40px;
          background-color: #ebebeb;
          margin: 0px 5px;
          height: 40px;
          text-align: center;
        }
      }

      small{
        width: 100%;
        margin-top: 3px;
        font-weight: 400;
        color: #666;
        font-size: 12px;
      }

      .payment_option{
        width: 100%;
        margin-top: 20px;

        button{
          width: 100%;
          background-color: #3FA5D1;
          color: #fff;
          border-radius: 3px;
          padding: 12px;
          cursor: pointer;
        }
      }
    }
  }
}

.descriptionProducts{
  width: 100%;
  padding: 2% 10%;

  .HeaderDescription {
    width: 100%;
    border-bottom: solid 1px #ccc;
    padding: 15px;

    h1{
      font-size: 1.3em;
      margin-bottom: 0px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  p {
    color: #666;
    line-height: 1.8em;
    margin: 20px 20px;
  }
}

.CommentsAboutProducts {
  width: 100%;
  padding: 2% 10%;
  padding-top: 0%;
  
  .HeaderDescription {
    width: 100%;
    border-bottom: solid 1px #ccc;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
      font-size: 1.3em;
      margin-bottom: 0px;
      font-weight: bold;
      text-transform: uppercase;
    }

    button{
      padding: 12px 20px;
      border-radius: 5px;
      background-color: #fff;
      border: solid 1px #3FA5D1;
      transition: all linear .1s;
      color: #1a6e92;
      cursor: pointer;

      &:hover{
        color: #fff;
        background-color: #3FA5D1;
      }
    }
  }

  .WithOutComments{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      color: #444;
      font-size: 1.1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      svg {
        font-size: 2.5em;
        margin-bottom: 10px;
      }
    }

    small{
      color: #555;
    }
  }

  .ContainerContentComment {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr .5fr; 
    grid-gap: 10px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px;

    .leftSide{
      width: 100%;
      padding: 20px 0px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-right: 25px;
      border-right: solid 1px #ccc;

      .informationComment{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: flex-start;

        h1{
          font-size: 1.3em !important;
          color: #333;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .sectionNote{
          margin-bottom: 20px;
          width: 100%;
        }

        p {
          color: #666;
          font-size: 1em;
          line-height: 1.8em;
          margin-bottom: 20px;
        }

        small{
          color: #666;
          font-weight: bold;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          p{
            margin-bottom: 0px;
            background-color: #ebebeb;
            padding: 5px 10px;
            border-radius: 5px;
            margin-left: 10px;
            color: #666;

            > svg {
              font-size: 20px;
              color: #018f01;
            }
          }

          button {
            background-color: #e74747;
            color: #fff;
            padding: 5px 10px;
            transition: all linear .2s;
            margin-left: 10px;
            cursor: pointer;
            border-radius: 3px;

            &:hover {
              background-color: #b33434;
            }
          }
        }
      }

      p{
        color: #555;
      }
    }

    .rightSide{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1{
        color: #333;
        font-size: 1.4em;
        margin-bottom: 20px;
      }

      button{
        cursor: pointer;
        background-color: #fff;
        color: #555;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin-right: 10px;
        }
      }
    }
  }

  .ContainerContentComment:last-child{
    border-bottom: none;
  }
}