@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  border: none;
  text-decoration: none;
  list-style: none;

  body {
    ul, p{
      margin-bottom: 0px;
    }

    a{
      &:hover{
        text-decoration: none;
      }
    }

    img{
      max-width: 100%;
    }
  }
}

@import './components/HeaderStyle/style.scss';
@import './components/Home/style.scss';
@import './components/product/style.scss';
@import './components/Modal/style.scss';
@import './components/Footer/style.scss';
@import './components/ModalComment/style.scss';