@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  border: none;
  text-decoration: none;
  list-style: none; }
  * body ul, * body p {
    margin-bottom: 0px; }
  * body a:hover {
    text-decoration: none; }
  * body img {
    max-width: 100%; }

.HeaderContainer {
  width: 100%;
  background-color: #3FA5D1;
  padding: 1% 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .HeaderContainer .firstLine {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-gap: 10px;
    align-items: center; }
    .HeaderContainer .firstLine .placeLogo {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .HeaderContainer .firstLine .placeLogo a {
        color: #fff;
        text-align: left;
        font-size: 1.6em;
        font-weight: bold; }
        .HeaderContainer .firstLine .placeLogo a img {
          width: 50%; }
    .HeaderContainer .firstLine .inputContent {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .HeaderContainer .firstLine .inputContent .searchBox {
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%; }
        .HeaderContainer .firstLine .inputContent .searchBox input {
          border-radius: 5px 0px 0px 5px; }
        .HeaderContainer .firstLine .inputContent .searchBox input, .HeaderContainer .firstLine .inputContent .searchBox button {
          height: 40px;
          width: 100%;
          padding: 12px;
          background-color: #fff; }
        .HeaderContainer .firstLine .inputContent .searchBox button {
          width: 40px;
          border-radius: 0px 5px 5px 0px;
          color: #333;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer; }
          .HeaderContainer .firstLine .inputContent .searchBox button svg {
            font-size: 40px; }
      .HeaderContainer .firstLine .inputContent .loginBox {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .HeaderContainer .firstLine .inputContent .loginBox span {
          border-radius: 50px;
          border: solid 2px #fff;
          width: 45px;
          height: 45px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          margin-right: 8px; }
        .HeaderContainer .firstLine .inputContent .loginBox p {
          color: #fff;
          line-height: 1.5em; }
          .HeaderContainer .firstLine .inputContent .loginBox p > svg {
            margin-bottom: -3px; }
    .HeaderContainer .firstLine .Assets {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .HeaderContainer .firstLine .Assets a {
        color: #fff;
        font-size: 30px;
        margin-left: 20px;
        position: relative; }
        .HeaderContainer .firstLine .Assets a .Amount {
          width: 23px;
          height: 23px;
          border-radius: 50px;
          position: absolute;
          background-color: red;
          top: 1px;
          right: -12px;
          color: #fff;
          border: solid 3px #3FA5D1;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: .4em !important; }

.secondLine {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0% 10%;
  background-color: #3FA5D1;
  margin-top: -15px; }
  .secondLine ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch; }
    .secondLine ul li a {
      color: #fff;
      display: flex;
      font-size: .9em;
      justify-content: center;
      align-items: center;
      transition: all linear .2s;
      padding: 10px 15px;
      height: 100%; }
      .secondLine ul li a:hover {
        background-color: #1a6e92; }

.thirdLine {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0% 10%;
  background-color: #1c4658; }
  .thirdLine ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
    .thirdLine ul li a {
      color: #fff;
      display: flex;
      font-size: .9em;
      justify-content: center;
      align-items: center;
      transition: all linear .2s;
      padding: 10px 20px;
      height: 100%; }
      .thirdLine ul li a svg {
        margin-bottom: -4px; }
      .thirdLine ul li a p {
        margin: 0px 5px; }
      .thirdLine ul li a:hover {
        background-color: #0d242e; }

.confiable {
  width: 100%;
  padding: 2.5% 10%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .confiable ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .confiable ul li {
      display: flex;
      justify-content: center;
      align-items: center; }
      .confiable ul li .icon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: solid 1px #1a6e92;
        color: #1a6e92;
        font-size: 1.3em;
        margin-right: 15px; }
      .confiable ul li .content h3 {
        font-size: 1em;
        font-weight: bold; }
      .confiable ul li .content p {
        color: #666;
        font-size: .90em; }

.sectionProduct {
  width: 100%;
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .sectionProduct .HeaderContainerProduct {
    width: 100%;
    border-bottom: solid 1px #ccc;
    padding: 15px; }
    .sectionProduct .HeaderContainerProduct h1 {
      font-size: 1.3em;
      margin-bottom: 0px;
      font-weight: bold; }
  .sectionProduct .products {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    padding: 10px; }
    .sectionProduct .products .cards {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .sectionProduct .products .cards .productImg {
        width: 100%;
        height: 220px;
        margin-bottom: 15px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: linear all .2s; }
      .sectionProduct .products .cards .description {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .sectionProduct .products .cards .description p {
          color: #444;
          text-align: center;
          font-weight: 400;
          font-size: 13px; }
        .sectionProduct .products .cards .description .price {
          width: 100%;
          margin-top: 10px;
          text-align: center;
          display: flex;
          justify-content: center;
          flex-direction: row;
          align-items: center; }
          .sectionProduct .products .cards .description .price p {
            font-weight: bold;
            color: #333;
            font-size: 1em; }
          .sectionProduct .products .cards .description .price h1 {
            font-size: 1.2em;
            color: #1a6e92;
            font-weight: bold;
            margin-left: 5px; }
        .sectionProduct .products .cards .description small {
          font-size: 12px;
          color: #666;
          margin-top: 5px; }
        .sectionProduct .products .cards .description form {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 10px; }
          .sectionProduct .products .cards .description form button {
            height: 40px;
            width: 100%;
            color: #ffffff;
            background-color: #3FA5D1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            border-radius: 3px;
            cursor: pointer;
            overflow: hidden; }
            .sectionProduct .products .cards .description form button .cart {
              width: 50px;
              height: 100%;
              display: flex;
              margin-top: 0px;
              justify-content: center;
              align-items: center;
              background-color: #1a6e92; }
            .sectionProduct .products .cards .description form button p {
              width: 100%;
              align-items: center;
              color: #fff; }
      .sectionProduct .products .cards:hover .productImg {
        opacity: .8; }

.standard_styled {
  width: 100%;
  padding: 6% 10%;
  display: flex;
  justify-content: center;
  align-items: center; }

.standard_styled {
  width: 100%;
  background-color: #f4f4f4;
  display: grid;
  padding: 3.5% 10%;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 30px;
  align-items: flex-start; }
  .standard_styled .big_side_left {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; }
    .standard_styled .big_side_left .saty_image_and_info {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column; }
      .standard_styled .big_side_left .saty_image_and_info .header_options {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px; }
        .standard_styled .big_side_left .saty_image_and_info .header_options a {
          margin-right: 20px;
          color: #666;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .standard_styled .big_side_left .saty_image_and_info .header_options a > svg {
            color: #3FA5D1;
            font-size: 18px;
            margin-right: 10px; }
          .standard_styled .big_side_left .saty_image_and_info .header_options a:hover {
            text-decoration: underline; }
      .standard_styled .big_side_left .saty_image_and_info .productPathFile {
        width: 100%;
        height: 48vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
    .standard_styled .big_side_left .location_info_product {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column; }
      .standard_styled .big_side_left .location_info_product .header_info_product {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-bottom: 25px; }
        .standard_styled .big_side_left .location_info_product .header_info_product .globalAvaliation {
          width: 100%;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center; }
          .standard_styled .big_side_left .location_info_product .header_info_product .globalAvaliation small {
            width: 10%;
            padding: 0px;
            color: #555;
            margin-left: 5px; }
        .standard_styled .big_side_left .location_info_product .header_info_product .brand {
          width: 100%;
          color: #3FA5D1; }
        .standard_styled .big_side_left .location_info_product .header_info_product h1 {
          font-weight: bold;
          color: #666;
          margin-top: 5px;
          line-height: 22px;
          font-size: 1.2em; }
        .standard_styled .big_side_left .location_info_product .header_info_product .row_line {
          margin-top: 15px;
          width: 100%; }
      .standard_styled .big_side_left .location_info_product p {
        color: #666;
        font-weight: 300;
        line-height: 25px;
        margin-bottom: 40px; }
      .standard_styled .big_side_left .location_info_product a {
        width: 100%;
        margin-bottom: 10px;
        color: #444;
        padding-bottom: 10px;
        text-align: left;
        border-bottom: solid 1px #ccc; }
      .standard_styled .big_side_left .location_info_product a:last-child {
        border-bottom: none; }
  .standard_styled .small_side_right {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px; }
    .standard_styled .small_side_right .price_information {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: solid 1px #ccc; }
      .standard_styled .small_side_right .price_information h1 {
        font-weight: bold;
        color: #1a6e92;
        font-size: 2.5em; }
      .standard_styled .small_side_right .price_information p {
        font-weight: 300;
        margin-top: 5px; }
        .standard_styled .small_side_right .price_information p strong {
          font-weight: 600;
          color: #1a6e92; }
      .standard_styled .small_side_right .price_information a {
        color: #333;
        font-size: 12px;
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .standard_styled .small_side_right .price_information a > svg {
          margin-right: 5px;
          margin-bottom: -1px; }
        .standard_styled .small_side_right .price_information a:hover {
          text-decoration: underline; }
    .standard_styled .small_side_right form {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-top: 15px; }
      .standard_styled .small_side_right form label {
        width: 100%;
        color: #555;
        margin-bottom: 10px;
        font-weight: bold; }
      .standard_styled .small_side_right form .box_ex {
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        border: solid 1px #ccc;
        border-radius: 5px; }
        .standard_styled .small_side_right form .box_ex svg {
          color: #1a6e92;
          margin-right: 15px; }
        .standard_styled .small_side_right form .box_ex button {
          color: #fff;
          font-weight: 700;
          background-color: #3FA5D1;
          border-radius: 3px;
          padding: 3px 12px;
          cursor: pointer; }
      .standard_styled .small_side_right form .qtd {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .standard_styled .small_side_right form .qtd button {
          background-color: #ccc;
          color: #333;
          cursor: pointer;
          font-size: 19px;
          padding: 6px;
          border-radius: 3px;
          width: 40px;
          height: 40px;
          text-align: center; }
        .standard_styled .small_side_right form .qtd input {
          padding: 6px;
          border-radius: 3px;
          width: 40px;
          background-color: #ebebeb;
          margin: 0px 5px;
          height: 40px;
          text-align: center; }
      .standard_styled .small_side_right form small {
        width: 100%;
        margin-top: 3px;
        font-weight: 400;
        color: #666;
        font-size: 12px; }
      .standard_styled .small_side_right form .payment_option {
        width: 100%;
        margin-top: 20px; }
        .standard_styled .small_side_right form .payment_option button {
          width: 100%;
          background-color: #3FA5D1;
          color: #fff;
          border-radius: 3px;
          padding: 12px;
          cursor: pointer; }

.descriptionProducts {
  width: 100%;
  padding: 2% 10%; }
  .descriptionProducts .HeaderDescription {
    width: 100%;
    border-bottom: solid 1px #ccc;
    padding: 15px; }
    .descriptionProducts .HeaderDescription h1 {
      font-size: 1.3em;
      margin-bottom: 0px;
      font-weight: bold;
      text-transform: uppercase; }
  .descriptionProducts p {
    color: #666;
    line-height: 1.8em;
    margin: 20px 20px; }

.CommentsAboutProducts {
  width: 100%;
  padding: 2% 10%;
  padding-top: 0%; }
  .CommentsAboutProducts .HeaderDescription {
    width: 100%;
    border-bottom: solid 1px #ccc;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .CommentsAboutProducts .HeaderDescription h1 {
      font-size: 1.3em;
      margin-bottom: 0px;
      font-weight: bold;
      text-transform: uppercase; }
    .CommentsAboutProducts .HeaderDescription button {
      padding: 12px 20px;
      border-radius: 5px;
      background-color: #fff;
      border: solid 1px #3FA5D1;
      transition: all linear .1s;
      color: #1a6e92;
      cursor: pointer; }
      .CommentsAboutProducts .HeaderDescription button:hover {
        color: #fff;
        background-color: #3FA5D1; }
  .CommentsAboutProducts .WithOutComments {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .CommentsAboutProducts .WithOutComments h1 {
      color: #444;
      font-size: 1.1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px; }
      .CommentsAboutProducts .WithOutComments h1 svg {
        font-size: 2.5em;
        margin-bottom: 10px; }
    .CommentsAboutProducts .WithOutComments small {
      color: #555; }
  .CommentsAboutProducts .ContainerContentComment {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-gap: 10px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px; }
    .CommentsAboutProducts .ContainerContentComment .leftSide {
      width: 100%;
      padding: 20px 0px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-right: 25px;
      border-right: solid 1px #ccc; }
      .CommentsAboutProducts .ContainerContentComment .leftSide .informationComment {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: flex-start; }
        .CommentsAboutProducts .ContainerContentComment .leftSide .informationComment h1 {
          font-size: 1.3em !important;
          color: #333;
          font-weight: bold;
          margin-bottom: 10px; }
        .CommentsAboutProducts .ContainerContentComment .leftSide .informationComment .sectionNote {
          margin-bottom: 20px;
          width: 100%; }
        .CommentsAboutProducts .ContainerContentComment .leftSide .informationComment p {
          color: #666;
          font-size: 1em;
          line-height: 1.8em;
          margin-bottom: 20px; }
        .CommentsAboutProducts .ContainerContentComment .leftSide .informationComment small {
          color: #666;
          font-weight: bold;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .CommentsAboutProducts .ContainerContentComment .leftSide .informationComment small p {
            margin-bottom: 0px;
            background-color: #ebebeb;
            padding: 5px 10px;
            border-radius: 5px;
            margin-left: 10px;
            color: #666; }
            .CommentsAboutProducts .ContainerContentComment .leftSide .informationComment small p > svg {
              font-size: 20px;
              color: #018f01; }
          .CommentsAboutProducts .ContainerContentComment .leftSide .informationComment small button {
            background-color: #e74747;
            color: #fff;
            padding: 5px 10px;
            transition: all linear .2s;
            margin-left: 10px;
            cursor: pointer;
            border-radius: 3px; }
            .CommentsAboutProducts .ContainerContentComment .leftSide .informationComment small button:hover {
              background-color: #b33434; }
      .CommentsAboutProducts .ContainerContentComment .leftSide p {
        color: #555; }
    .CommentsAboutProducts .ContainerContentComment .rightSide {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .CommentsAboutProducts .ContainerContentComment .rightSide h1 {
        color: #333;
        font-size: 1.4em;
        margin-bottom: 20px; }
      .CommentsAboutProducts .ContainerContentComment .rightSide button {
        cursor: pointer;
        background-color: #fff;
        color: #555;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center; }
        .CommentsAboutProducts .ContainerContentComment .rightSide button svg {
          margin-right: 10px; }
  .CommentsAboutProducts .ContainerContentComment:last-child {
    border-bottom: none; }

.modal {
  width: 100%;
  height: 100vh;
  background-color: #1111112d;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  align-items: center; }
  .modal .ContainerModal {
    width: 25vw;
    padding: 20px;
    min-height: 30vh;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 1px #1111112d; }
    .modal .ContainerModal .HeaderContent, .modal .ContainerModal .forgotPassword {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      align-items: center;
      border-bottom: solid 1px #ccc; }
      .modal .ContainerModal .HeaderContent h1, .modal .ContainerModal .forgotPassword h1 {
        color: #555;
        font-size: 1.5em;
        font-weight: bold; }
    .modal .ContainerModal .forgotPassword {
      border-bottom: none;
      border-top: solid 1px #ccc;
      margin-top: 40px;
      margin-bottom: 0px;
      padding-top: 10px; }
      .modal .ContainerModal .forgotPassword a:hover {
        text-decoration: underline; }
    .modal .ContainerModal .loginForm {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      .modal .ContainerModal .loginForm .linePut {
        width: 100%;
        background-color: #ebebeb;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px; }
        .modal .ContainerModal .loginForm .linePut input {
          width: 100%;
          background-color: transparent; }
        .modal .ContainerModal .loginForm .linePut svg {
          color: #666;
          font-size: 20px; }
      .modal .ContainerModal .loginForm button {
        width: 100%;
        background-color: #3FA5D1;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        transition: all linear .1s; }
        .modal .ContainerModal .loginForm button:hover {
          background-color: #276e8d; }

.footer {
  background-color: #1c4658;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 3%;
  padding: 6% 10%; }
  .footer .box_top {
    width: 100%;
    display: grid;
    grid-template-columns: .5fr 2fr 1fr;
    grid-gap: 40px; }
    .footer .box_top .left {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column; }
      .footer .box_top .left img {
        width: 65%; }
      .footer .box_top .left ul {
        display: flex;
        margin-top: 20px;
        justify-content: flex-start;
        align-items: center; }
        .footer .box_top .left ul li a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          color: #fff;
          border-radius: 50px;
          border: solid 1px #fff;
          margin-right: 15px;
          transition: all linear .1s; }
    .footer .box_top .center {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 13px; }
      .footer .box_top .center .content_options_clients {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column; }
        .footer .box_top .center .content_options_clients .header_client {
          margin-bottom: 10px; }
          .footer .box_top .center .content_options_clients .header_client h1 {
            font-size: 1em;
            color: #fff; }
        .footer .box_top .center .content_options_clients ul li a {
          color: #ebebeb;
          display: block;
          margin-bottom: 5px; }
    .footer .box_top .right {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: column; }
      .footer .box_top .right .header_newslatter {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        margin-bottom: 10px; }
        .footer .box_top .right .header_newslatter h1 {
          color: #fff;
          font-size: 1.1em; }
        .footer .box_top .right .header_newslatter small {
          font-size: 12px;
          color: #ebebeb; }
      .footer .box_top .right form {
        width: 100%;
        display: flex;
        justify-content: stretch;
        align-items: center; }
        .footer .box_top .right form input {
          width: 100%;
          height: 40px;
          border-radius: 5px;
          padding: 10px; }
        .footer .box_top .right form button {
          height: 40px;
          width: 40px;
          border-radius: 5px;
          margin-left: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #3FA5D1;
          cursor: pointer;
          color: #fff;
          padding: 10px; }
  .footer .box_bottom {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between; }
    .footer .box_bottom .left_side, .footer .box_bottom .right_side {
      display: flex;
      flex-direction: column; }
      .footer .box_bottom .left_side h2, .footer .box_bottom .right_side h2 {
        color: #fff;
        font-size: 1.2em;
        margin-bottom: 10px; }
      .footer .box_bottom .left_side ul, .footer .box_bottom .right_side ul {
        display: flex;
        justify-content: center;
        align-items: center; }
        .footer .box_bottom .left_side ul li, .footer .box_bottom .right_side ul li {
          margin-right: 15px; }
          .footer .box_bottom .left_side ul li img, .footer .box_bottom .right_side ul li img {
            border-radius: 4px; }

.createComent {
  width: 100%;
  height: 100vh;
  background-color: #1111112d;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  align-items: center; }
  .createComent .ContainerModal {
    width: 35vw;
    padding: 20px;
    min-height: 30vh;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 1px #1111112d; }
    .createComent .ContainerModal .HeaderContent, .createComent .ContainerModal .forgotPassword {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      align-items: center;
      border-bottom: solid 1px #ccc; }
      .createComent .ContainerModal .HeaderContent h1, .createComent .ContainerModal .forgotPassword h1 {
        color: #555;
        font-size: 1.5em;
        font-weight: bold; }
      .createComent .ContainerModal .HeaderContent svg, .createComent .ContainerModal .forgotPassword svg {
        font-size: 1.6em;
        cursor: pointer;
        margin-top: -5px; }
    .createComent .ContainerModal .forgotPassword {
      border-bottom: none;
      border-top: solid 1px #ccc;
      margin-top: 20px;
      margin-bottom: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px; }
      .createComent .ContainerModal .forgotPassword button {
        width: 120px;
        padding: 12px;
        text-align: center;
        color: #fff;
        background-color: #777;
        border-radius: 5px; }
      .createComent .ContainerModal .forgotPassword button:last-child {
        background-color: #1f7ac4;
        color: #fff; }
    .createComent .ContainerModal .loginForm {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      .createComent .ContainerModal .loginForm .line {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10px;
        flex-direction: column; }
        .createComent .ContainerModal .loginForm .line label {
          width: 100%;
          margin-bottom: 5px;
          color: #333; }
        .createComent .ContainerModal .loginForm .line input, .createComent .ContainerModal .loginForm .line select {
          width: 100%;
          padding: 12px;
          border-radius: 5px;
          border: solid 1px #ccc; }
      .createComent .ContainerModal .loginForm .linePut {
        width: 100%;
        background-color: #ebebeb;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px; }
        .createComent .ContainerModal .loginForm .linePut input {
          width: 100%;
          background-color: transparent; }
        .createComent .ContainerModal .loginForm .linePut svg {
          color: #666;
          font-size: 20px; }
      .createComent .ContainerModal .loginForm button {
        width: 100%;
        background-color: #3FA5D1;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        transition: all linear .1s; }
        .createComent .ContainerModal .loginForm button:hover {
          background-color: #276e8d; }

/*# sourceMappingURL=style.css.map */
